<h1>Display your Pirate here</h1>
<p><%= @pirate.name%></p>
<p><%= @pirate.weight%></p>
<p><%= @pirate.height%></p>

<h2>Display your first ship here</h2>

<p><% @ships.each do |ships| %></p>
    <p><%= ships.name %></p>
    <p><%= ships.type %></p>
    <p><%= ships.booty %></p>
    <p><% end %></p>

    <p><% @ships.each do |ships| %></p>
        <p><%= ships.name %></p>
        <p><%= ships.type %></p>
        <p><%= ships.booty %></p>
        <p><% end %></p>
# <h2>Display your second ship here</h2>
